/capitulo_2/nbproject/private/
/capitulo_2/build/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/capitulo_3/nbproject/private/
/capitulo_3/build/
/capitulo_3/dist/
/capitulo_4/nbproject/private/
/capitulo_4/build/
/capitulo_5/nbproject/private/
/capitulo_5/build/
/capitulo_6/nbproject/private/
/capitulo_6/build/
/capitulo_7/nbproject/private/
/capitulo_7/build/
/capitulo_10/nbproject/private/
/capitulo_10/build/
/capitulo_8/nbproject/private/
/capitulo_8/build/
/capitulo_9/nbproject/private/
/capitulo_9/build/
/capitulo_9/dist/
/capitulo_11/nbproject/private/
/capitulo_11/build/
/capitulo_11/dist/
/capitulo_11_maven/target/
